<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests">
<test name="Registration">
<parameter name="browser" value="chrome"/>
<classes>
<class name="com.test.Automation.sel.Digin.Registration"></class>
</classes>
</test>
<test name="Registration">
<parameter name="browser" value="firefox"/>
<classes>
<class name="com.test.Automation.sel.Digin.Registration"></class>
</classes>
</test>
</suite>